<!DOCTYPE html>
<html lang="">
<head>
    <meta charset='utf-8'/>
    <!-- 화면 해상도에 따라 글자 크기 대응(모바일 대응) -->
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- jquery CDN -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- fullcalendar CDN -->
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css' rel='stylesheet'/>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>
    <!-- fullcalendar 언어 CDN -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales-all.min.js'></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>

    <style>
        /* body 스타일 */
        html, body {
            overflow: hidden;
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            font-size: 14px;
        }

        /* 캘린더 위의 해더 스타일(날짜가 있는 부분) */
        .fc-header-toolbar {
            padding-top: 1em;
            padding-left: 1em;
            padding-right: 1em;
        }

        #calendar-container {
            padding: 30px;
        }

        #delete-button{
            text-align: right;
            padding-right: 30px;
        }


    </style>
</head>
<body>

<!-- 로딩 중인 경우 표시될 모달 -->
<div class="modal" id="loadingModal" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">로딩 중...</span>
                </div>
                <div>가천대학교 로그인 중</div>
            </div>
        </div>
    </div>
</div>

<!-- 네비게이션 바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Calendar App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <!-- 로그인 폼 -->
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0">
                    <div id = "log-in">
                        <input class="form-control mr-sm-2" type="text" placeholder="Gachon univ. ID" id="username" required>
                        <input class="form-control mr-sm-2" type="password" placeholder="Password" id="password" required>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="login()">로그인</button>
                    </div>
                    <button id ="log-out" class="btn btn-outline-danger my-2 my-sm-0" type="button" onclick="logout()">로그아웃</button>
                </form>
            </li>

            <!-- 환영 메시지 -->
            <li class="nav-item">
                <span id="welcome-message" class="navbar-text"></span>
            </li>
        </ul>
    </div>
</nav>

<!--회원 탈퇴 전 데이터가 사라질 수 있음을 알리는 모달-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                회원 탈퇴를 하시면 등록한 일정이 모두 삭제됩니다.<br>
                정말 탈퇴하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deletePasswordModal">예</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">아니오</button>
            </div>
        </div>
    </div>
</div>

<!--회원 탈퇴를 위해 password를 받는 모달-->
<div class="modal fade" id="deletePasswordModal" tabindex="-1" role="dialog" aria-labelledby="deletePasswordModalLabel"
     aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                비밀번호를 입력해주세요.
                <input class="form-control mr-sm-2" type="password" placeholder="Password" id="deletePassword" required>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="deleteMember()">확인</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>

<!-- 이벤트의 수정, 삭제, 정보를 담은 모달 -->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModalLabel">이벤트 정보</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p><strong>Title:</strong> <span id="eventTitle"></span></p>
                <p><strong>Start:</strong> <span id="eventStart"></span></p>
                <p><strong>End:</strong> <span id="eventEnd"></span></p>
                <p><strong>All Day:</strong> <span id="eventAllDay"></span></p>
            </div>
            <div class="modal-footer">
                <button id = "eventUpdateButton"type="button" class="btn btn-primary" onclick="editEvent()">수정</button>
                <button id = "eventDeleteButton"type="button" class="btn btn-danger" onclick="deleteEvent()">삭제</button>
            </div>
        </div>
    </div>
</div>

<!-- calendar 태그 -->
<div id='calendar-container'>
    <div id='calendar'></div>
</div>

<!--캘린더 우측 하단에 조그마하게 회원탈퇴 버튼-->
<div id="delete-button">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">회원 탈퇴</button>
</div>
<script src="app.js"></script>
</body>
</html>
